In [35]:
from pandas import DataFrame
import json
import csv

In [36]:
file_path_users="C:/Users/ANKIT/Downloads/cqadupstack/cqadupstack/android/android/android_users.json"

In [37]:
file_path_questions="C:/Users/ANKIT/Downloads/cqadupstack/cqadupstack/android/android/android_questions.json"

In [38]:
file_path_answers="C:/Users/ANKIT/Downloads/cqadupstack/cqadupstack/android/android/android_answers.json"

In [39]:
with open(file_path_users) as f:
    data_users = json.load(f)

In [40]:
with open(file_path_questions) as f:
    data_questions = json.load(f)

In [41]:
with open(file_path_answers) as f:
    data_answers = json.load(f)

In [42]:
data_users=json.dumps(data_users)
data_users=json.loads(data_users)

In [43]:
data_questions=json.dumps(data_questions)
data_questions=json.loads(data_questions)

In [44]:
data_answers=json.dumps(data_answers)
data_answers=json.loads(data_answers)

In [45]:
df_users=DataFrame(data_users)

In [46]:
df_questions=DataFrame(data_questions)

In [47]:
df_answers=DataFrame(data_answers)

In [52]:
df_users

,1,10,100,10000,10001,10002,10003,10004,10007,10008,...,9987,9989,999,9990,9992,9993,9995,9996,9998,9999
age,37,28,30,37,26,48,NaN,NaN,35,31,...,NaN,NaN,36,51,NaN,42,32,NaN,NaN,31
answers,[],"[12010, 6819, 6817, 10704, 833, 1721, 1680, 22...","[147, 141, 1165, 156, 1205]",[],[],[],[],[],[],[],...,[],[24989],[],[],[],"[55121, 55077, 57712, 39309, 55068]",[],[16074],[],[]
badges,"[Autobiographer, Supporter, Editor, Quorum, In...","[Autobiographer, Teacher, Student, Editor, Sel...","[Autobiographer, Teacher, Editor, Supporter, B...",[Autobiographer],[Autobiographer],[Student],[],[Student],[],[Autobiographer],...,[Student],"[Supporter, Teacher, Editor, Revival, Discipli...","[Autobiographer, Scholar, Student]",[Autobiographer],[Student],"[Student, Editor, Autobiographer, Supporter, S...",[Supporter],[],"[Student, Popular Question, Notable Question]","[Autobiographer, Supporter]"
date_joined,2010-09-13T18:54:55.607,2010-09-13T19:14:52.997,2010-09-13T20:16:03.183,2011-11-27T19:12:57.247,2011-11-27T20:30:35.113,2011-11-27T21:49:48.327,2011-11-28T00:08:39.493,2011-11-28T02:22:44.323,2011-11-28T04:02:07.560,2011-11-28T05:11:31.947,...,2011-11-27T11:02:48.527,2011-11-27T12:47:33.817,2010-11-06T22:58:49.817,2011-11-27T13:23:35.053,2011-11-27T15:37:00.140,2011-11-27T17:34:49.943,2011-11-27T17:42:49.023,2011-11-27T17:56:52.657,2011-11-27T18:56:39.200,2011-11-27T19:06:05.227
downvotes,0,30,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
lastaccessdate,2014-08-14T18:00:29.560,2014-09-12T13:02:16.733,2014-05-23T14:06:30.803,2014-01-06T09:00:08.673,2014-07-30T00:01:50.103,2011-12-05T13:06:48.220,2011-11-28T00:08:39.493,2011-11-28T09:38:22.763,2011-12-26T04:05:11.067,2013-02-28T09:04:24.020,...,2011-11-27T13:25:24.457,2014-05-03T11:15:51.403,2010-11-08T10:59:04.260,2011-12-12T04:06:06.537,2011-11-28T18:46:28.250,2014-07-27T23:07:04.650,2011-12-31T03:05:00.480,2011-11-27T17:56:52.657,2011-11-27T18:56:39.200,2014-03-15T17:47:40.043
questions,[],"[830, 2468, 12975, 4335, 8702, 2835, 1184, 192...",[1291],[],[],[],[],[16083],[],[],...,[16055],[],[2678],[],[16065],"[54786, 57705, 16071, 56490, 38544, 33542, 335...",[],[],[16078],[]
rep,101,18666,261,101,1,1,1,21,101,101,...,21,251,8,101,21,320,101,11,11,101
upvotes,2,1477,18,0,0,0,0,0,0,0,...,0,6,0,0,0,28,1,0,0,7
views,2691,2002,39,0,3,1,0,0,0,0,...,2,18,16,2,0,56,4,2,2,0

In [54]:
df_users.loc['badges','1']

['Autobiographer', 'Supporter', 'Editor', 'Quorum', 'Informed']

In [26]:
#removing unwanted collumns
df_answers=df_answers.drop(['creationdate'],axis=1)

In [32]:
df_users.head()

,answers,downvotes,questions,rep,upvotes,views
1,[],0,[],101,2,2691
10,"[12010, 6819, 6817, 10704, 833, 1721, 1680, 22...",30,"[830, 2468, 12975, 4335, 8702, 2835, 1184, 192...",18666,1477,2002
100,"[147, 141, 1165, 156, 1205]",0,[1291],261,18,39
10000,[],0,[],101,0,0
10001,[],0,[],1,0,3

In [29]:
df_questions.head()

,acceptedanswer,answers,body,comments,creationdate,dups,favoritecount,related,score,tags,title,userid,viewcount
1,13,"[29185, 13]",<p>This is a common question by those who have...,[],2010-09-13T19:16:26.763,[],119,[],172,"[rooting, root]",I've rooted my phone. Now what? What do I ga...,10,207478
10003,10004,[10004],"<p>I am trying to Lock Screen Widget, But I am...",[],2011-06-02T22:22:10.663,[],0,[],2,"[nexus-one, uninstallation, device-administrator]",How can I uninstall Lock Screen Widget from my...,2220,513
10009,False,"[16490, 16492, 10012]","<p>I have looked through the site, and it does...","[12113, 12114, 12129, 12167, 19259]",2011-06-03T03:59:45.887,[],1,[4614],6,"[system-freeze, samsung-galaxy-gio, setcpu]","Phone randomly black screens, forced to remove...",2810,2826
1001,False,[1002],<p>On the Droid X I'm able to create contact g...,[],2010-07-22T18:33:51.723,[],0,[],1,"[contacts, 2.1-eclair]",Manage Contact Groups on Droid X,False,621
10011,10024,"[10027, 10024, 41162]",<p>I have recently installed JuiceDefender (JD...,[],2011-06-03T06:54:16.630,[],0,[],3,"[samsung-galaxy-s, battery-life]",What is my phone doing at 1 o'clock in the mor...,526,240

In [30]:
df_answers.head()

,body,comments,parentid,score,userid
10,<p>The clearest answer I've seen is here: <a h...,[72],2,6,29
100,<p>Phone service carriers will sometimes updat...,[],70,0,34
1000,<p>Can you check with the GPS turned off for a...,"[726, 727]",999,3,False
10000,<p>Assuming your computer doesn't have a Wi-Fi...,[],3134,0,5641
10001,"<p>As Ryan said, you can export the contacts t...","[12098, 12134, 12135]",9993,1,5642

In [34]:
 df_users.ix[0]

C:\Users\ANKIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

answers        []
downvotes       0
questions      []
rep           101
upvotes         2
views        2691
Name: 1, dtype: object

In [ ]:
class Users: